@model ProductManager.ViewModels.ProjectUserAssignmentRoleViewModel

<h1>Assign User Roles</h1>

@if (Model != null)
{
    <form>
        <input type="hidden" asp-for="ProjectId" value="@Model.ProjectId"/>
        <input type="hidden" asp-for="CompanyId" value="@Model.CompanyId" />

        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Select Role:
                </th>
            </tr>
            @for (var i = 0; i < Model.ProjectUserRoles.Count; i++)
            {
                var user = Model.ProjectUserRoles[i];
                if (user!= null)
                {
                    <tr>
                        <td>
                            @user.Username
                        </td>
                        <td>
                            @foreach (var userRoleViewModel in Model.ProjectUserRoles)
                            {
                                <select asp-for="ProjectUserRoles[i].SelectedRole" asp-items="@(new SelectList(ViewBag.Roles, "Value", "Text", userRoleViewModel.SelectedRole))"></select>
                            }
                        </td>
                    </tr>
                }
            }
        </table>

    </form>
}
else
{
    <p>@ViewBag.Message</p>
}
