@using ProductManager.ViewModels
@model UserAssignmentRoleViewModel

<h1>Assign User Roles</h1>

@if (Model != null)
{
    <form asp-controller="Project" asp-action="AssignmentRolePost" method="post">

        <input type="hidden" asp-for="ProjectId" value="@Model.ProjectId" />
        <input type="hidden" asp-for="CompanyId" value="@Model.CompanyId" />

        <button type="submit">Assign Roles</button>

        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Select Role:
                </th>
            </tr>
            @for (var i = 0; i < Model.ProjectUserRoles.Count; i++)
            {
                var user = Model.ProjectUserRoles[i];
                if (user != null)
                {
                    <tr>
                        <td>
                            @user.Username
                        </td>
                        <td>
                            <input type="hidden" asp-for="ProjectUserRoles[i].Username" value="@user.Username" />
                            <select asp-for="ProjectUserRoles[i].SelectedRole" data-username="@user.Username" asp-items=ViewBag.Roles></select>
                            <input type="hidden" asp-for="ProjectUserRoles[i].AssignmentId" value="@user.AssignmentId">
                        </td>
                    </tr>
                    
                }
            }
        </table>

    </form>
}
else
{
    <p>@ViewBag.Message</p>
}
