@model ProductManager.ViewModels.ProjectUserAssignmentViewModel

<h1>Assign Users</h1>

@if (Model != null)
{
    <form asp-controller="Project" asp-action="UserAssignmentPost" method="post">

        <input type="hidden" asp-for="ProjectId" value="@ViewBag.ProjectId"/>
        
        <button type="submit">Assign Users</button>

        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    <input type="checkbox" class="selectAll" />
                </th>
            </tr>
            @for (var i = 0; i < Model.ProjectUsers.Count; i++)
            {
                var user = Model.ProjectUsers[i];
                if (user != null)
                {
                    <tr>
                        <td>
                            @user.Username
                        </td>
                        <td>
                            <input type="checkbox" class="userCheckBox" data-username="@user.Username" asp-for="ProjectUsers[i].IsSelected"/>
                            <input type="hidden" asp-for="ProjectUsers[i].Username" value="@user.Username"/>
                        </td>
                    </tr>
                }
            }
        </table>
        <input type="hidden" asp-for="CheckedUsernames" />
        <span asp-validation-for="CheckedUsernames" class="text-danger"></span>
        
    </form>
}
else
{
    <p>@ViewBag.Message</p>
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        var checkedUsernames = [];

        // Select/Deselect all checkboxes
        $(".selectAll").change(function () {
            $(".userCheckBox").prop('checked', $(this).prop("checked"));
            updateCheckedUsernames();
        });

        // Handle individual checkbox changes
        $(".userCheckBox").change(function () {
            updateCheckedUsernames();
        });

        function updateCheckedUsernames() {
            checkedUsernames = [];

            // Get usernames off checked checkboxes
            $(".userCheckBox:checked").each(function () {
                checkedUsernames.push($(this).data("username"));
            });

            // Update the value of the hidden input field
            $("#CheckedUsernames").val(checkedUsernames.join(','));

            // Output the list to console
            console.log(checkedUsernames);
        }
    })
</script>